* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "JetBrains Mono", monospace;
}

p,
label,
input,
h1,
h2,
span {
  font-family: inherit;
  color: var(--white);
}

/* custom properties */

:root {
  --white: #fff;
  --black: #000;

  /* greys */
  --grey-950: #08070b;
  --grey-900: #14131b;
  --grey-850: #18171f;
  --grey-800: #24232c;
  --grey-700: #54535b;
  --grey-600: #817d92;
  --grey-200: #e6e5ea;

  --green: #a4ffaf;

  --yellow: #f8cd65;

  --orange: #fb7c58;

  --red: #f64a4a;
}

body {
  background-color: var(--grey-950);
}

main {
  width: 90%;
  margin-inline: auto;
}

/* generated password section*/

.generated-password-section {
  background-color: var(--grey-800);
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
}

.generated-password-section > span {
  color: var(--grey-700);
}

.generated-password-section > span {
  font-size: clamp(1.5rem, 5vw, 10rem);
}

.generated-password.rendered {
  color: var(--white);
}

.copy-password-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/*

*/

/* user password prefrences */

#user-password-preferences-section {
  padding: 1.5rem 2rem;
}
/* password length section */

#user-password-preferences-section {
  background-color: var(--grey-800);

  position: relative;
  display: block;
}

.password-lenth-container {
  margin-block: 2rem;
}

.password-progress-bar {
  position: relative;
  height: 8px;
  width: 100%;
  background-color: var(--grey-850);
}

.password-progress-bar-filled {
  height: 8px;
  width: 0%;
  background-color: var(--green);
}

.progress-bar-circle {
  position: absolute;
  top: -120%;
  left: 0%;
  height: 28px;
  width: 28px;
  background-color: var(--white);
  border-radius: 50%;
  cursor: grab;
}

/* password criteria section */

input[type="checkbox"] {
  accent-color: var(--green);
}

/* password strength section */

.password-strength-container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--grey-850);
}

.password-strength-container > p {
  font-size: 1rem;
  color: var(--grey-600);
  font-weight: bold;
}
.password-strength-value {
  font-size: 1.125rem;
}

.strength-boxes {
  display: flex;
  align-items: center;
}

.password-strength-box {
  margin-left: 1rem;
  width: 10px;
  height: 28px;
  outline: 2px solid var(--white);
}

/* style the boxes based on the password strength data attribute */

/* background colour for Very Weak */
.password-strength-value[data-strength=""] {
  display: none;
}
[data-strength="Very Weak"] + .password-strength-box {
  background-color: var(--red);
  outline-color: var(--red);
}

/* background colour for Weak */
[data-strength="Weak"] ~ .password-strength-box:nth-child(-n + 3) {
  background-color: var(--orange);
  outline-color: var(--orange);
}

/* background colour for Medium */
[data-strength="Medium"] ~ .password-strength-box:nth-child(-n + 4) {
  background-color: var(--yellow);
  outline-color: var(--yellow);
}

/* background colour for Strong */
[data-strength="Strong"] ~ .password-strength-box:nth-child(-n + 5) {
  background-color: var(--green);
  outline-color: var(--green);
}

/* generate password button */

.generetate-password-btn {
  background-color: var(--green);
  padding-block: 1rem;
  border: none;
  width: 100%;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-800);
  cursor: pointer;
  transition: all 100ms ease;
}

.generetate-password-btn > svg {
  margin-left: 1rem;
}

.generetate-password-btn:hover {
  background-color: transparent;
  outline: 2px solid var(--green);
  color: var(--green);
}

.generetate-password-btn:hover svg > path {
  fill: var(--green);
}
